<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
    <main>
        <div class="challenge-container card border-success">
            <div class="challenge">
                <form onsubmit="calculate(event)">
                    <label for="tebak">Masukkan 4 digit angka tebakan</label>
                    <input id="tebak" type="number" name="tebak" placeholder="cth: 1234" min="0" max="9999">

                    <input type="submit">
                </form>
            </div>
            
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        const randomSecret = Math.floor(Math.random() * 8999) + 1000

        const calculate = (e) => {
            const inputNumber = document.getElementById('tebak').value

            const secretStr = randomSecret.toString()
            const inputStr = inputNumber.toString()

            let correct = 0
            let wrong = 0

            for (let i=0; i<secretStr.length; i++) {
                if(secretStr[i]===inputStr[i]) {
                    correct++
                } else {
                    wrong++
                }
            }

            alert(`Angka rahasia: ${randomSecret}\n` + 
            `Anka anda: ${inputNumber}\n` +
            `${correct} Alhamdulillah, ${wrong} Subhanallah`)
        }

    </script>
</body>
</html>